<table class="table">
    <thead>
      <tr>
        <th>Ativo</th>
        <th>Último (R$)<i class="fas fa-arrow-up"></i><i class="fas fa-arrow-down"></i></th>
        <th>Var. Dia (R$) <i class="fas fa-arrow-up"></i><i class="fas fa-arrow-down"></i></th>
        <th>Var. Dia (%) <i class="fas fa-arrow-up"></i><i class="fas fa-arrow-down"></i></th>
       <!--<th class="text-right">Salary</th>
        <th class="text-right">Actions</th>-->
      </tr>
    </thead>
    <tbody>
      <!--<tr  *ngFor="let item of list">
        <td>{{ id }}</td>
        <td>{{ datesToString(datePipe, id.dates) }}</td>
        <td>{{ id.factor }}</td>
        <td>{{id.increment}}</td>
        <td>{{ booleanToString(item.personalLink, 'Sim', 'Não') }}</td>-->
       <!-- <td class="text-right">&euro; 89,241</td>
        <td class="td-actions text-right">
          <button type="button" rel="tooltip" class="btn btn-info btn-sm btn-icon">
            <i class="tim-icons icon-single-02"></i>
          </button>
          <button type="button" rel="tooltip" class="btn btn-success btn-sm btn-icon">
            <i class="tim-icons icon-settings"></i>
          </button>
          <button type="button" rel="tooltip" class="btn btn-danger btn-sm btn-icon">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
        </td>-->
      

      <tr>
        <td class="text-center">2</td>
        <td>John Doe</td>
        <td>Design</td>
        <td>2012</td>
       <!-- <td class="text-right">&euro; 89,241</td>
        <td class="td-actions text-right">
          <button type="button" rel="tooltip" class="btn btn-info btn-sm btn-round btn-icon">
            <i class="tim-icons icon-single-02"></i>
          </button>
          <button type="button" rel="tooltip" class="btn btn-success btn-sm btn-round btn-icon">
            <i class="tim-icons icon-settings"></i>
          </button>
          <button type="button" rel="tooltip" class="btn btn-danger btn-sm btn-round btn-icon">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
        </td>-->
      </tr>
      <tr>
        <td class="text-center">3</td>
        <td>Alex Mike</td>
        <td>Design</td>
        <td>2010</td>
      <!-- <td class="text-right">&euro; 89,241</td>
        <td class="td-actions text-right">
          <button type="button" rel="tooltip" class="btn btn-info btn-link btn-icon btn-sm">
            <i class="tim-icons icon-single-02"></i>
          </button>
          <button type="button" rel="tooltip" class="btn btn-success btn-link btn-icon btn-sm">
            <i class="tim-icons icon-settings"></i>
          </button>
          <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-icon btn-sm">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
        </td>-->
      </tr>
    </tbody>
  </table>