<!--<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Código</th>
          <th>Data e hora</th>
          <th>Período do evento</th>
          <th>Itens cotados</th>
          <th>Link pessoal</th>
          <th>Situação</th>
          <th *ngIf="buttonDetail"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list">
          <td>{{ item.budgetIdentifierNumber }}</td>
          <td>{{ item.created * 1000 | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
          <td>{{ datesToString(datePipe, item.dates) }}</td>
          <td>{{ item.items }}</td>
          <td>{{ booleanToString(item.personalLink, 'Sim', 'Não') }}</td>
         <!--- <td [innerHTML]="hotelReserveStatusToHtml(item.status)"></td>-->
        <!--  <td *ngIf="buttonDetail">
            <button
              type="button"
              class="btn-gorila"
              [routerLink]="[buttonDetail.link, item.id]">
              {{ buttonDetail.text }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>-->